html,body {
    height:100%;
}
.App ,#root, .AppWrapper{
    min-height:100%;
    height:100% !important;;
}
.AppWrapper {
    margin-bottom:-6em;
}
.footer {
    padding-bottom: 1em;
}
.navbar-item {
    color:#323232;
    font-weight:600;
}
.center ,.left, .right {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: flex-start;
}
.right {
    justify-content: flex-end;
}

.main-controls {

}
#clock {
    width:60%;
    font-size: 200px;
    font-weight:800;
    text-align:center;
    color:hsl(171, 100%, 41%);
}
.fill-space {
    height:auto;
}

#clockContainer{
    padding-bottom:0;
}
.introduce {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:0;
}
.introduce article {
    max-width:800px;
}
